.summary {

    &__container {
        max-width: 1140px;
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    &__inner-wrapper {
        max-width: 730px;
        width: 100%;
        background: #2C343E;
        border-radius: 10px;
        padding: 27px 64px;
        margin-bottom: 40px;
    }

    &__heading {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-transform: uppercase;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.5;
        margin-bottom: 8px;
    }

    &__text {
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 40px;
        color: #FFFFFF;
    }

    &__color {
        color: #0E8784;
    }

    &__button {
        padding: 16px 31.5px;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #FEFCF7;
        background-color: #0E8784;
        border-radius: 6px;
        border: none;
        margin-bottom: 168px;
        cursor: pointer;
        &:hover {
            background-color: #66D2CF;
        }
        &:active {
            background-color: #E2DEDB;;
        }
    }
}
.container {
}

@media only screen and (max-width: 1000px) { 
    /* TABLET */

    .summary {
    
        &__container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            max-width: 768px;
        }
        
        &__inner-wrapper {
            max-width: 689px;
            width: 100%;
            background-color: #2C343E;
            padding: 27px 44px;
            margin-bottom: 40px;
        }
        
        &__heading {
            font-family: 'Barlow';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            text-transform: uppercase;
            color: #FFFFFF;
            mix-blend-mode: normal;
            opacity: 0.5;
            margin-bottom: 8px;
        }
        
        &__text {
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 24px;
            line-height: 40px;
            color: #FFFFFF;
        }
    
        &__color {
            color: #0E8784;
        }
    
        &__button {
            padding: 16px 31.5px;
            font-family: 'Fraunces';
            font-style: normal;
            font-weight: 900;
            font-size: 18px;
            line-height: 25px;
            text-align: center;
            color: #FEFCF7;
            background-color: #0E8784;
            border-radius: 6px;
            border: none;
            margin-bottom: 168px;
            cursor: pointer;
            &:hover {
                background-color: #66D2CF;
            }
            &:active {
                background-color: #E2DEDB;
            }
        }
    }
    
}